<div class="container">
    <img src="assets/profile_image.jpg" alt="Noam Bergauz Profile Image">

    <p>
    Software development is my passion, I am always trying to catch up with the new technologies that are coming out.
    I am an auto-didactic, which means I feel safe with self-learning through content on the Internet and looking for creative solutions. 
    Teamwork is something I really believe in and think it's the best way to get ahead of anything in life. 
    During my work, I learned how to solve problems quickly and efficiently, and create a courteous relationship with the client 
    along with concern and dedication to the project. I can say confidently that I am a fast learner, 
    and not afraid to tackle any problem with a lot of passion and will, even with languages I am not yet familiar with or have less experience than expected.
    </p>
</div>
